*.log
*.trs
*.o
*~
.deps
Makefile
Makefile.in
core
driver
minbzcat
test-suite.log
coverage.info
coverage/
suite/*/*.bad
suite/*/*.exp
suite/*/*.err
suite/*/*.out
suite/*/*.raw
suite/*/*.zexp
suite/*/*.zout
